.leftbox{
    float: left;
    width: 250px;
    height: 200px;
    margin: 5px;
    border: 3px solid navy;
}
#leftbox1{
 
    border: 3px solid green;
    
}

#rightbox{
    float: left;
    width: 250px;
    height: auto;
    margin: 5px;
    border: 3px solid orangered;
}

.boxImage{
    float: left;
    height: 150px;
    width: 150px;
    margin: 5px;
    border: 2px solid blue;
}

